<h1>Edit <%= @user.name %></h1>
<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
<button class="password_change" type="button">Edit Password</button>
<div id="password_change" hidden>
    <%= f.label :password, 'New Password' %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, 'New Password Confirmation' %>
    <%= f.password_field :password_confirmation %>
</div>
    <%= f.submit 'Update' %>
<% end %>
    